<div class="comment">
  <div class="comment-heading">
    <span class="comment-text">Comments</span>
  </div>
  <div class="tbl-loading-spinner tbl-loading-cards-placeholder">
    <div class="tbl-placeholder-card">
      <div class="tbl-first-row-pl tbl-masker"></div>
      <div class="tbl-second-row-pl tbl-masker"></div>
      <div class="tbl-third-row-pl tbl-masker"></div>
      <div class="tbl-last-row-right-padding tbl-masker"></div>
      <div class="tbl-img-top-padding tbl-masker"></div>
      <div class="tbl-img-bottom-padding tbl-masker"></div>
      <div class="tbl-first-col-padding tbl-masker"></div>
      <div class="tbl-second-col-padding tbl-masker"></div>
    </div>
  
    <div class="tbl-placeholder-card">
      <div class="tbl-first-row-pl tbl-masker"></div>
      <div class="tbl-second-row-pl tbl-masker"></div>
      <div class="tbl-third-row-pl tbl-masker"></div>
      <div class="tbl-last-row-right-padding tbl-masker"></div>
      <div class="tbl-img-top-padding tbl-masker"></div>
      <div class="tbl-img-bottom-padding tbl-masker"></div>
      <div class="tbl-first-col-padding tbl-masker"></div>
      <div class="tbl-second-col-padding tbl-masker"></div>
    </div>
  </div>
</div>